version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "9000:9000"
    environment:
      - NODE_ENV=production
    depends_on:
      - redis

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/http.config:/etc/nginx/conf.d/default.conf
      - ./nginx/https.config:/etc/nginx/conf.d/ssl.conf
      - ./ssl:/etc/nginx/ssl
    depends_on:
      - app

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"